:root {
    --primary-font-text:'Roboto', sans-serif;
    --logo-font-text:'Raleway', sans-serif;
    --accent-color: #2196F3;
    --accent-second-color: #000000;
    --headers-color: #212121;
    --text-color: #757575;
    --background-color: #2F303A;
    --primary-page-color: #ffffff;
    --team-section-color: #F5F4FA;
    --accent-active-color: #188CE8;
   --line-shadow-color: #ECECEC;
   --translucent-page-color: #FFFFFF99;
    --project-border-color:#EEEEEE;
}

body {
    font-family: var(--primary-font-text);
    background-color: var(--primary-page-color);
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

 .visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
 }

/* ====logo=== */
.logo-accent {
    font-family: var(--logo-font-text);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
 .header-logo {
    color: var(--accent-second-color);
 }

 .footer-logo {
    color: var(--primary-page-color);
 }
/* ====logo=== */

/* ====menu=== */

/* did not used */
/* .page-header */
/* .menu */
/* .menu-list */

.menu-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--headers-color)
}
 .menu-links:hover,
 .menu-links:focus {
    color: var(--accent-color);
 }

 .current {
    color: var(--accent-color);
 }
 /* ====menu=== */

 /* ====contacts== */
.contacts-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contacts-links:hover,
.contacts-links:focus {
    color: var(--accent-color);
}
/* ====contacts== */

/* ====main-studio==== */
/* ===section-hero=== */
.hero {
    background-color: var(--background-color);
}

.hero-slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-page-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--primary-page-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:active,
.hero-btn:hover,
.hero-btn:focus {
    background: var(--accent-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
 /* ===section-hero=== */

 /* ===sectin-features=== */
 /* did not used */
 /* .features */
 /* .features-list */

.features-headers {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--headers-color);
}

.features-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
 /* ===section-features=== */

 /* ===section-directions=== */
 /* did not used */
 /* .directions */
 /* .directions-list */

 /* ===section-directions=== */

 /* ===directions-and-team-headers== */
.directions-header,
.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headers-color);
}
 /* ===directions-and-team-headers== */

 /* ===section-team=== */
.team {
    background-color: var(--team-section-color);
}

.team-cards {
    background-color: var(--primary-page-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headers-color);
}

.team-profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
  /* ===section-team=== */
  /* ====main-studio-end==== */

 /*=======portfolio=page========*/

 /* ===filter-buttons=== */
 .filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--team-section-color);
    color: var(--headers-color);
    cursor: pointer;
 }

 .filter-btn:active,
 .filter-btn:focus,
  .filter-btn:hover {
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
     color: var(--primary-page-color);
 }
 /* ===filter-buttons=== */

 /* ===portfolio-projects=== */
 .project-headers {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--headers-color);
 }

 .project-description {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
 }
 /* ===portfolio-projects=== */
/*=======portfolio=page-end========*/

  /* ===footer=== */
  .footer {
    background-color: var(--background-color);
  }

  .address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-page-color);
  }

  .address-link:hover,
  .address-link:focus {
   color: var(--accent-color); 
  }

  .footer-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--translucent-page-color);
  }

  .footer-contacts:hover,
  .footer-contacts:focus {
    color: var(--accent-color);
  }
/* ===footer=== */